body {
  width: 100%;
}

.sg-myprofile {
  text-align: center;
}

.sg-myprofile-info {
  background-color: #212121;
  color: #EEE;
  text-align: center;
}

.pg-myprofile-selfpict > img {
   width: 126px;
   height: 180px;
   -webkit-border-radius: 63px 63px 63px 63px / 108px 108px 72px 72px;
   border-radius:         50%  50%  50%  50%  / 60%   60%   40%  40%;
  margin: 30px auto 0;
}

.pg-myprofile-myname {
  margin-top: 60px;
  font-size: 50px;
  font-style: bold;
}

.pg-myprofile-value {
  margin: 20px auto 0;
  padding-bottom: 80px;
  font-size: 8px;
}

.pg-myprofile-button {
  margin: 60px 0;
  width: 1em;
  height: 1em;
  background: #FF5252;
  box-shadow:
    0 0 0 1em #90CAF9,
    0 1em 0 1em #9FA8DA,
    -2.5em 1.5em 0 .5em #B39DDB,
    2.5em 1.5em 0 .5em #81D4FA,
    -3em -3em 0 0 #80DEEA,
    3em -3em 0 0 #80CBC4,
    -2em -2em 0 0 #A5D6A7,
    2em -2em 0 0 #C5E1A5,
    -3em -1em 0 0 #E6EE9C,
    -2em -1em 0 0 #FFF59D,
    2em -1em 0 0 #FFE082,
    3em -1em 0 0 #FFCC80,
    -4em 0 0 0 #FFAB91,
    -3em 0 0 0 #BCAAA4,
    3em 0 0 0 #EEEEEE,
    4em 0 0 0 #B0BEC5,
    -5em 1em 0 0 #EF9A9A,
    -4em 1em 0 0 #F48FB1,
    4em 1em 0 0 #CE93D8,
    5em 1em 0 0 #9FA8DA,
    -5em 2em 0 0 #B39DDB,
    5em 2em 0 0 #81D4FA,
    -5em 3em 0 0 #80DEEA,
    -3em 3em 0 0 #80CBC4,
    3em 3em 0 0 #A5D6A7,
    5em 3em 0 0 #C5E1A5,
    -2em 4em 0 0 #E6EE9C,
    -1em 4em 0 0 #FFF59D,
    1em 4em 0 0 #FFE082,
    2em 4em 0 0 #FFCC80;
  display: inline-block;
  overflow: hidden;
}
.pg-myprofile-button:hover {
	background-color: rgba(255, 255, 255, .3);
  animation: shake 0.2s linear infinite;
  -webkit-animation: shake 0.2s linear infinite;
}
@keyframes shake {
  0% { transform: translate(3px, 2px) rotate(0deg); }
  10% { transform: translate(-2px, -3px) rotate(-1deg); }
  20% { transform: translate(-4px, 0px) rotate(1deg); }
  30% { transform: translate(0px, 3px) rotate(0deg); }
  40% { transform: translate(2px, -2px) rotate(1deg); }
  50% { transform: translate(-2px, 3px) rotate(-1deg); }
  60% { transform: translate(-4px, 2px) rotate(0deg); }
  70% { transform: translate(3px, 2px) rotate(-1deg); }
  80% { transform: translate(-2px, -2px) rotate(1deg); }
  90% { transform: translate(2px, 4px) rotate(0deg); }
  100% { transform: translate(2px, -3px) rotate(-1deg); }
}




.sg-myprofile-introduce {
  padding-bottom: 60px;
  background-color: #F5F5F5;
  color: #212121;
}

.pg-myprofile-introduce-info {
  padding-top: 30px;
}

.pg-myprofile-introduce-info > p {
  padding: 30px auto 0;
}

.pg-myprofile-introduce-whatifeel {
  margin-top: 30px;
  text-align: center;
  font-size: 30px;
  /*font-weight: bold;*/
}

.pg-myprofile-introduce-whatifeel-textlist {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  /*font-weight: bold;*/
}

.pg-myprofile-introduce-whatifeel-textlist tr + tr {
  margin-left: 30px;
}

.pg-myprofile-introduce-whatifeel-text {
  text-align: center;

  /*float: left;*/
}

.pg-myprofile-introduce-whatifeel-textlist-item > td {
  font-size: 20px;
  font-weight: bold;
}

.pg-myprofile-introduce-whatifeel-textlist-item td + td {
  padding-left: 70px;
}

.pg-myprofile-introduce-whatifeel-textlist-content {
  font-size: 14px;
  /*display: inline;*/
}

.pg-myprofile-introduce-whatifeel-textlist-content td + td {
  margin-left: 80px;
  display: inline;
}









.sg-myprofile-skillset {
  background-color: #212121;
  color: #EEE;
}

.pg-myprofile-skillset-imgs {
  display: inline-block;
}

.pg-myprofile-skillset-imgs-text {
  font-size: 50px;
  font-style: bold;
}


.pg-myprofile-skillset-pict {
  margin-top: 30px;
  float: left;
}
.pg-myprofile-skillset-pict > img {
  width: 300px;
  height: 200px;
}
.pg-myprofile-skillset-imgs figure + figure {
  margin-left: 40px;
}

.pg-myprofile-skillset-button {
  margin: 50px auto 0;
	background-color: #212121;
	border-radius: 4px;
	box-shadow: 0 3px 3px rgba(0, 0, 0, .2), inset 0 1px 1px rgba(255, 255, 255, .7);
	color: #fff;
  clear: both;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, .4);
}
.pg-myprofile-skillset-button:hover {
	background-color: rgba(255, 255, 255, .3);
}




.sg-myprofile-freeexpression {
  padding-top: 30px;
  background-color: #EEE;
  color: #212121;
}

.pg-myprofile-freeexpression-picttable {
  display: inline-block;
  font-size: 50px;
  font-weight: bold;
}

.pg-myprofile-freeexpression-pict-text1 {
  margin: 30px auto 0;
  font-size: 14px;
  font-weight: normal;
}

.pg-myprofile-freeexpression-pict {
  margin-top: 30px;
  float: left;
  font-size: 14px;
}
.pg-myprofile-freeexpression-pict > img {
  width: 300px;
  height: 200px;
}

.pg-myprofile-freeexpression-picttable figure + figure {
  margin-left: 40px;
}

.pg-myprofile-freeexpression-button {
  margin: 50px auto 20px;
	background-color: rgba(255, 255, 255, .2);
	border-radius: 4px;
	color: #fff;
  clear: both;
	box-shadow: 0 3px 3px rgba(0, 0, 0, .2), inset 0 1px 1px rgba(255, 255, 255, .7);
  text-shadow: 0px 1px 0px rgba(0, 0, 0, .4);
}
.pg-myprofile-freeexpression-button:hover {
	background-color: rgba(25, 25, 25, .3);
}







footer {
  text-align: center;
  padding: 20px auto;
}

.sg-myprofile-sns {
  width: auto;
  background-color: #212121;
  color: #EEE;
}

.pg-myprofile-sns-info {
  display: inline-block;
}

.pg-myprofile-sns-info figure + figure {
  margin-left: 30px;
}

.pg-myprofile-sns-logo {
  margin-left: 40px;
  padding-top: 40px;
  float: left;
}

.pg-myprofile-sns-logo > img {
  width: 30px;
  height: 30px;
}

.sg-myprofile-sns-copyright {
  margin: 30px auto 0;
  clear: both;
  font-size: 8px;
  padding-bottom: 50px;

}
